@include tablet {
    section {
        padding: px(40) 0;
    }
}

@include mobile {
    .main-title {
        padding-left: 16px;
    }
}

.faq {
    gap: px(32);
    align-items: stretch;
    margin-top: px(85);
    @include tablet {
        margin-top: px(64);
    }
}
.accordion__content-faq {
    ul, ol {
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 40px;

        li {
            margin-bottom: px(6);
        }
    }
}
.faq__nav {
    flex: 0 0 32%;
    
    ul {
        position: sticky;
        top: px(85);
        left: px(48);
        gap: px(12);

        @include tablet {
            flex-direction: row;
            position: static;
            padding: 0 px(16);
        }

        a {
            text-decoration: underline;
            max-width: max-content;

            &:hover {
                text-decoration: none;
            }

            &.active {
                color: $c-accent;
                text-decoration: none;
            }
        }
    }
}



