.main-title {
    text-align: center;

    @include tablet {
        margin-bottom: px(67);
    }

    @include mobile {
        margin-bottom: px(80);
    }
}

.main-documents__document {
    padding-bottom: px(68);
    min-height: px(140);
    flex: 0 0 48%;
    width: 48%;

    transition: border-color $var-base-animation-time linear,
    color $var-base-animation-time linear;

    &:hover  {
        color: $c-accent;
        border-color: $c-deep-dive;
    }

    @include tablet {
        flex: 0 0 100%;
        width: 100%;
    }
}


