$var-breakpoints: (
  'bp-xl': 1440px,
  'bp-l': 991px,
  'bp-m': 767px,
  'bp-s': 479px,
);

// Font
$ft-medium: 'SuisseIntl-Medium', sans-serif;
$ft-regular: 'SuisseIntl-Regular', sans-serif;
$mainColor: #173b57;
$secondaryFontColor: #87939e;
$backgroundElementColor: #f5f5f5;
$mainFontSize: 18px;
$mainFontWeight: 400;
$mainLineHeight: 1.4;
$inputsPadding: 24px;
