.button-l {
    display: inline-block;
    background-color: $c-white;
    padding: px(20) px(32) px(24);
    text-align: center;
    color: $c-background;
    border-radius: 8px;
    border: 1px solid $c-white;

    &.outline {
        border: 1px solid $c-background;
        color: $c-deep-dive;
        background-color: transparent;
    }
}

