@import '../scss/color';
@import '../scss/breakpoints';

/* ----------------------- main ------------------------------ */
.mob {
  display: none;

  @include tablet {
    display: block;
  }
}

.relative {
  position: relative;
}

.sticky-0 {
  position: sticky;
  top: 0
}

.dont-shrink {
  flex: 0 0 auto;
}

.flex-wrap {
  flex-wrap: wrap;
}

.border-radius-50prc {
  border-radius: 50%;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.wm-flex-row {
  display: flex;
  flex-direction: row;
}

.justify-space-between {
  justify-content: space-between;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gap-4px {
  gap: px(4);
}

.gap-8px {
  gap: px(8);
}

.gap-16px {
  gap: px(16);
}

.justify-end {
  justify-content: flex-end;
}

.align-items-end {
  justify-content: flex-end;
}

.aling-self-center {
  align-self: center;
}

.aling-self-start {
  align-self: flex-start;
}

.aling-self-end {
  align-self: flex-end;
}

.align-items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-self-stretch {
  justify-self: stretch;
}

.justify-self-end {
  justify-self: end;
}

.height-100vh {
  min-height: 100vh;
}

.height-100prc {
  min-height: 100%;
}

.wm-grow-if-possible {
  flex: 1 1 0;
}

.wm-width-100prc {
  width: 100%;
}

.mobile-show {
  display: none;
}

.disabled {
  color: $c-gray-00 !important;
}

.container {
  max-width: 1614px;
  width: 100%;
  margin: 0 auto;

  @media(max-width: 1920px) {
    max-width: 1344px;
  }
}

.container-small {
  max-width: 782px;
  margin: 0 auto;
  width: 100%;
}

.flex-row-w-tablet-column {
  display: flex;
  flex-direction: row;

  @include tablet {
    flex-direction: column;
  }
}

.flex-row-w-mobile-column {
  display: flex;
  flex-direction: row;

  @include big-mobile {
    flex-direction: column;
  }
}

@include tablet {
  .horizmobile-hide {
    display: none;
  }
}

@include mobile {
  .mobile-show {
    display: block;
  }

  .mobile-hide {
    display: none;
  }
}

.w380 {
  max-width: px(380);
}
