@import 'scss/reset';
@import 'scss/var';
@import 'scss/breakpoints';
@import 'controlsStyle/inputs';
@import 'controlsStyle/range';
@import 'controlsStyle/checkbox';

html {
  line-height: $mainLineHeight;
  font-size: $mainFontSize;
  color: $mainColor;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: $ft-regular;
  font-size: $mainFontSize;
  font-weight: $mainFontWeight;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

section {
  background-color: #fff;
  padding: 70px 48px;
  position: static;
}

.section-placeholder {
  height: 100vh;
}

.container {
  width: 1614px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

@include horizmobile {
  section {
    padding: 40px 16px;
  }

  .container {
    flex-direction: column;
    display: flex;
    flex: 1;
    z-index: 2;
    width: 1344px;
    max-width: 100%;
    position: relative;
    margin-right: auto;
  }
}

// ------------------------------------- //

.error {
  /* border: 1px solid red !important; */
  color: red !important;
  background-color: rgb(255 0 0 / 18%) !important;
}

.loan-calculator-heading {
  color: $mainColor;
  font-family: $ft-regular;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 22px */
}

.loan-calculator {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  gap: 50px;
  margin-top: 30px;

  .loan-calculator__left-colum {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 40px;

    .loan-calculator__left-colum__input-section {
      display: flex;
      flex-direction: column;
      gap: 30px;

      .loan-calculator__input-w {
        position: relative;
        display: flex;
        flex-direction: column;

        .input-description {
          display: flex;
          width: 100%;
          justify-content: space-between;
          flex-direction: row;
        }
      }
    }

    .loan-calculator__left-colum__checks {
      display: flex;
      flex-direction: column;
      gap: 18px;

      .loan-calculator__input-w {
        position: relative;
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid #e8ecf0;

        .loan-calculator__number-checkbox-heading {
          color: $mainColor;
          font-family: $ft-medium;
          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          line-height: 120%; /* 19.2px */
        }

        &:last-child:not(:only-child) {
          border-bottom: none;
        }
      }
    }
  }

  .loan-calculator__right-colum {
    width: 100%;
    min-height: 100%;

    .loan-calculator__right-colum__rail {
      top: 0;
      position: sticky;

      .loan-calculator__right-colum__result {
        position: relative;
        width: 100%;
        height: auto;
        padding: 40px 28px 49px;
        border-radius: 24px;
        background-color: $backgroundElementColor;

        .result__heading-w {
          width: 100%;
          color: $mainColor;
          font-family: $ft-medium;
          font-size: 42px;
          font-style: normal;
          font-weight: 600;
          line-height: 100%; /* 42px */
        }

        .result__table {
          width: 100%;
          padding: 50px 0 70px;

          .result__table__cell {
            display: flex;
            border-bottom: 1px solid #e8ecf0;
            padding: 18px 0;
            color: $mainColor;
            font-family: $ft-regular;
            font-size: 15px;
            font-style: normal;
            font-weight: 400;
            line-height: 120%; /* 18px */

            .table__cell__label {
              width: 35%;
              margin-right: 6px;
            }

            .table__cell__value {
              place-content: center flex-start;
              align-items: center;
              display: flex;
              flex-direction: row;
              min-width: 25%;

              @include tablet {
                align-items: flex-start;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                min-width: auto;
              }

              span {
                color: $mainColor;
                font-family: $ft-regular;
                font-size: 20px;
                font-style: normal;
                font-weight: 500;
                line-height: 110%; /* 22px */
              }

              .table__cell__tooltip-icon {
                cursor: pointer;
                width: 20px;
              }
            }

            &:last-child:not(:only-child) {
              border-bottom: none;
            }

            .table__cell__tooltip {
              min-width: 35%;
              position: absolute;
              padding: 10px;
              display: flex;
              bottom: 30%;
              right: 8%;
              flex-direction: column;
              background: white;
              border-radius: 8px;
              opacity: 0;
              transition: opacity 0.2s;

              &.visible {
                opacity: 1;
              }

              .tooltip__cell__line {
                display: flex;
                flex-flow: row nowrap;
                gap: 55px;
                justify-content: space-between;

                .tooltip__line__value {
                  color: $secondaryFontColor;
                  font-family: $ft-regular;
                  font-size: 14px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: 22px; /* 157.143% */
                }

                .tooltip__line__result {
                  color: $mainColor;
                  text-align: right;
                  font-family: $ft-regular;
                  font-size: 14px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: 22px; /* 157.143% */
                }
              }
            }
          }
        }

        .result__apply {
          font-family: $ft-medium;
          font-size: 15px;
          font-style: normal;
          font-weight: 500;
          line-height: 100%; /* 15px */
          display: inline-flex;
          letter-spacing: 0.15px;
          padding: 20px 32px 24px;
          border: 1px solid $mainColor;
          border-radius: 8px;
          color: $mainColor;
          transition:
            color,
            background 0.2s;

          &:hover {
            color: white;
            background: $mainColor;
          }
        }
      }

      .result__disclaimer-w {
        max-width: 100%;
        padding: 28px 70px 28px 0;

        .result__disclaimer {
          color: $secondaryFontColor;
          font-family: $ft-regular;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 120%; /* 19.2px */

          .result__disclaimer-link {
            color: $mainColor;
            font-family: $ft-regular;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 120%;
            transition: color 0.2s;

            &:hover {
              color: $secondaryFontColor;
            }
          }
        }
      }
    }
  }
}

//-------------------------------------//
@include tablet {
  .table__cell__value {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-width: 25%;
  }
}

@include horizmobile {
  .loan-calculator-heading {
    font-size: 16px;
  }

  .loan-calculator {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 24px;

    .loan-calculator__left-colum {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 40px;

      .loan-calculator__left-colum__input-section {
        gap: 18px;
      }

      .loan-calculator__left-colum__checks {
        display: flex;
        flex-direction: column;
        gap: 18px;

        .loan-calculator__input-w {
          .loan-calculator__number-checkbox-heading {
          }

          &:last-child:not(:only-child) {
          }
        }
      }
    }

    .loan-calculator__right-colum {
      .loan-calculator__right-colum__rail {
        top: 0;
        position: relative;

        .loan-calculator__right-colum__result {
          padding: 32px 24px;
          border-radius: 12px;

          .result__heading-w {
            font-size: 24px;
          }

          .result__table {
            width: 100%;
            padding: 32px 0 10px;

            .result__table__cell {
              display: flex;
              flex-direction: column;
              border-bottom: none;
              padding: 0 0 24px;
              font-size: 15px;

              .table__cell__label {
                width: 100%;
                padding-bottom: 2px;
              }

              .table__cell__value {
                flex-direction: row;
                align-items: baseline;
                font-size: 20px;
                font-weight: 600;

                span {
                  font-size: 20px;
                  font-weight: 600;
                }

                .table__cell__tooltip-icon {
                  cursor: pointer;
                  width: 22px;
                }
              }

              &:last-child:not(:only-child) {
                border-bottom: none;
              }

              .table__cell__tooltip {
                min-width: 35%;
                position: absolute;
                padding: 10px;
                display: flex;
                bottom: 20%;
                right: 15%;
                border-radius: 8px;
                opacity: 0;
                transition: opacity 0.2s;

                &.visible {
                  opacity: 1;
                }

                .tooltip__cell__line {
                  display: flex;
                  flex-flow: row nowrap;
                  gap: 55px;
                  justify-content: space-between;

                  .tooltip__line__value {
                    font-size: 14px;
                    font-weight: 400;
                  }

                  .tooltip__line__result {
                    font-size: 14px;
                    font-weight: 400;
                  }
                }
              }
            }
          }

          .result__apply {
            font-size: 14px;
            letter-spacing: 0.14px;
            padding: 14px 24px 16px;
          }
        }

        .result__disclaimer-w {
          max-width: 100%;
          padding: 16px 14px 0 0;

          .result__disclaimer {
            font-size: 14px;

            .result__disclaimer-link {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}
