.loan-calculator__number-input-label,
.input-description {
  font-family: 'Suisse Intl', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: 0.24px;
  color: $secondaryFontColor;
}

.loan-calculator__input-calc {
  width: auto;
  min-height: 60px;
  border: 0;
  border-radius: 8px;
  padding: 18px $inputsPadding 18px $inputsPadding;
  font-weight: 400;
  font-size: 17px;
  line-height: 120%;
  appearance: textfield;
  background-color: $backgroundElementColor;
  margin: 12px 0 14px;

  &:focus {
    border: 0;
  }
}

@include horizmobile {
  .loan-calculator__number-input-label,
  .input-description {
    font-size: 10px;
    letter-spacing: 0.2px;
  }

  .loan-calculator__input-calc {
    min-height: 60px;
    padding: 16px;
    font-size: 14px;
    margin: 12px 0;
  }
}
