@import 'styles/scss/reset';
@import 'styles/class-mods/index';
@import 'styles/class-mods/fontStyle';

body {
    background: $c-white;
    color: $c-deep-dive;
    font-family: $ft-regular;
}

a, button {
    color: $c-deep-dive
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: px(76);

    padding: px(28) 0;

    letter-spacing: px(1);
    color: $c-white;
    background: $c-background;

    z-index: 1000;

    &.transparent {
        background: $c-white;
        color: $c-background;

        a {
            color: $c-deep-dive;
        }

        .logo {
            color: $c-deep-dive;
        }

        path {
            stroke: $c-deep-dive;
        }
    }
}

.header__inner {
    align-items: center;
}

.header__navbar{
    column-gap: px(40);

    a {
        color: $c-white;
    }

    @include tablet {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: fixed;
        background: $c-background-popup;
        z-index: 1000;

        align-items: center;
        justify-content: center;
        row-gap: px(40);

        display: none;

        &.active {
            display: flex;
        }
    }
}

.login {
    display: block;
    position: relative;
    cursor: pointer;

    @include small-mobile {
        display: none;
    }

    span {
        margin-right: px(6);
    }

    svg {
        transition: transform $var-base-animation-time linear;

        path {
            transition: stroke $var-base-animation-time linear;
        }
    }

    &:hover {
        svg {
            transform: rotate(180deg);

            path {
                stroke: $c-accent;
            }
        }

        span {
            color: $c-accent;
        }
    }
}

.login-popup {
    position: absolute;

    padding: px(24) px(20);
    right: 0;
    top: calc(100% + px(10));
    width: 200%;

    background: $c-white;
    border-radius: px(12);

    line-height: px(18);
    box-shadow: 0px 2px 22px 0px rgba(13, 39, 65, 0.12);

    display: none;

    a {
        display: block;
        margin-bottom: px(10);

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.login:hover .login-popup,
.login-popup:hover {
    display: flex;
}

.header__login-menu {
    column-gap: px(40);
}

.header__navigation-menu {
    display: none;

    @include tablet {
        display: block;
    }
}

/* Intro */
.intro {
    padding-top: px(118);
    padding-bottom: px(183);
    min-height: calc(100vh - px(76));
    position: relative;
    background: $c-background;

    .container {
        position: relative;
        z-index: 1;
    }

    @include big-mobile {
        padding-top: px(32);
        padding-bottom: px(240);
    }

    @include mobile {
        padding-bottom: px(188);
    }
}

.intro__video {
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    left: 0%;
    z-index: 0%;

    video {
        object-fit: cover;
        object-position: left 90%;
        vertical-align: baseline;
        overflow-clip-margin: content-box;
        overflow: clip;
        
        height: 100%;
        width: 100%;

        @include tablet {
            object-position: left 150%;
        }
    }   
}

.intro__inner {
    color: $c-white;

    max-width: 70%;

    @include tablet1024 {
        max-width: 85%;
    }

    @include tablet {
        max-width: 90%;
    }

    @include big-mobile {
        max-width: 100%;
    }
}

.intro__title {
    margin-bottom: px(40);
    letter-spacing: px(-1);

    @include mobile {
        margin-bottom: px(28);
    }
}

.intro__desc {
    max-width: 45%;

    @include tablet {
        max-width: 60%;
    }

    @include big-mobile {
        max-width: 100%;
    }

    @include mobile {
        margin-bottom: px(40);
    }
}

.intro__cards {
    position: absolute;
    right: 0;
    bottom: 0;
    align-items: stretch;
    column-gap: px(1);
    justify-content: flex-end;

    @include mobile {
        display: none;
    }
}

.intro__btns {
    display: none;

    a {
        max-width: max-content;
    }

    @include mobile {
        display: flex;
        gap: px(8);
    }
}

/* Card */
.card {
    padding: px(28);
    padding-bottom: px(32);
    background: $c-gray-100;
    cursor: pointer;
    width: 40%;
    position: relative;
}

.card__title {
    margin-bottom: px(10);
}

.card__desc {
    color: $c-gray-50;
    margin-bottom: px(24);
}

/* Partners */
.partners {
    margin-top: px(80);
    overflow: hidden;

    @include mobile {
        margin-bottom: px(64);
    }
}

.partners__title {
    margin-bottom: px(64);

    @include tablet {
        margin-bottom: px(56);
    }

    @include mobile {
        margin-bottom: px(32);
    }
}

.partners__scroll {
    gap: px(20);
}


.partners__list {
    column-gap: px(20);

    @include tablet {
        column-gap: px(16);
    }

    @include small-mobile {
        column-gap: px(10);
    }
}

.partner {
    flex: 0 0 21%;
    height: px(160);
    border: 1px solid $c-light-gray;
    border-radius: px(12);
    position: relative;

    img {
        display: block;
        max-width: 100%;
        height: auto;
    }

    @include tablet {
        height: px(115);
    }

    @include mobile {
        flex: 0 0 45%;
    }
}

.partner__desc {
    position: absolute;
    top: px(14);
    left: px(14);

}

/* Products */
.products__inner {
    gap: px(20);
    align-items: stretch;

    @include tablet {
        gap: px(16);
    }
}

.products__title {
    margin-bottom: px(32);

    @include tablet {
        margin-bottom: px(28);
    }

    @include mobile {
        margin-bottom: px(24);
    }
}

.product {
    background: $c-background;
    padding: px(40) px(28);
    flex: 0 0 48%;
    border-radius: px(24);
    min-height: px(595);

    @include big-mobile {
        flex: 0 0 100%;
        justify-content: flex-start;
        gap: px(24);
        min-height: auto;
    }
}

.product__content {
    max-width: 78%;

    .descriptor {
        color: $c-white;
        opacity: 0.5;
    }

    @include big-mobile {
        max-width: 100%;
    }
}

.product__title {
    color: $c-white;
    margin-bottom: px(20);

    @include big-mobile {
        margin-bottom: px(16);
    }
}

.product__advs {
    color: $c-white;
    gap: px(6);
    margin-bottom: px(20);

    li {
        font-weight: 400;
        position: relative;
    }
}

/* Numbers */
.numbers__title {
    margin-bottom: px(48);
}

.numbers__line {
    height: px(340);
    padding-left: px(48);
    overflow: hidden;
    gap: px(58);

    @include tablet {
        padding-left: px(32);
    }

    @include mobile {
        padding-left: px(16);
    }

    @include big-mobile {
        height: auto;
        overflow: visible;
    }
}

.indices {
    height: px(158);

    @include big-mobile {
        height: auto;
    }

    &:nth-child(even) {
        align-self: flex-end;

        @include big-mobile {
            align-self: flex-start;
        }
    }
}

.indices__number {
    font-size: px(140);
    line-height: px(126);
    letter-spacing: -0.01em;

    white-space: nowrap;
    margin-bottom: px(12);
    position: relative;

    @include big-mobile {
        font-size: px(72);
        line-height: px(64);
        max-width: max-content;
    }

    &.bill-rub::after {
        content: 'млрд ₽';

        position: absolute;
        right: px(-50);
        bottom: px(20);

        font-size: px(20);
        line-height: px(22);
        opacity: 0.5;

        @include tablet {
            font-size: px(16);
            line-height: px(19.8);
        }

        @include big-mobile {
            bottom: 0;
        }
    }
}

/* Cabinet */
.cabinet {
    padding-top: px(51);
    padding-bottom: px(50);
}

.cabinet__tabs {
    gap: px(20);
    align-items: center;

    @include tablet {
        flex-direction: column-reverse;
        align-items: stretch;
        justify-content: stretch;
        gap: px(40);
    }
}

.cabinet__img {
    flex: 0 0 49%;

    @include tablet {
        flex: 100%;
        width: 60%;
        margin: 0 auto;
    }

    img {
        max-width: 100%;
        height: auto;
    }
}

.tabs__img {
    display: none;

    &.active {
        display: block;
    }
}

.cabinet__content {
    flex: 0 0 49%;

}

.cabinet__title {
    margin-bottom: px(24);

    @include tablet {
        margin-bottom: px(20);
    }
}

.tabs__headlines {
    gap: px(16);
    margin-bottom: px(64);

    @include tablet {
        flex-direction: row;
        gap: px(10);
        margin-bottom: px(32);
        flex-wrap: wrap;
    }
}

.tabs__tab {
    position: relative;
    cursor: pointer;
    opacity: 0.3;

    &::before {
        content: '';

        display: none;
        width: 24px;
        height: 24px;

        position: absolute;
        top: 50%;
        left: -32px;
        transform: translateY(-40%);

        background: url('../src/assets/img/svg/right-arrow.svg');
    }

    &.active {
        opacity: 1;

        &::before {
            display: block;

            @include tablet {
                display: none;
            }
        }
    }
}

.tabs__content {
    margin-bottom: 48px;

    @include tablet {
        margin-bottom: px(32);
    }
}

.tabs__list {
    gap: px(8);
    display: none;

    li {
        &::before {
            background-color: $c-deep-dive;
        }

        @include tablet {
            margin-bottom: px(12);
        }
    }

    &.active {
        display: flex;
    }
}

.tabs__button {
    display: none;

    &.active {
        display: inline-block;
    }
}

/* Documents */
.documents__title {
    margin-bottom: px(64);

    @include tablet1024 {
        margin-bottom: px(54);
    }

    @include tablet {
        margin-bottom: px(40);
    }
}

.documents__inner {
    gap: px(20);
    align-items: stretch;
    margin-bottom: px(28);
    overflow: auto;

    @include tablet {
        flex-wrap: wrap;
        margin-bottom: px(12);
    }
}

.documents__document {
    flex: 0 0 30%;
    min-height: 256px;


    position: relative;

    @include tablet {
        flex: 100%;
        min-height: 0;
        padding: px(20) px(15) px(78);
    }

    span {
        display: block;

        @include tablet {
            max-width: px(268);
        }
    }
}

.documents__desc {
    opacity: 0.5;

    @include tablet {
        max-width: px(300);
        font-size: px(12);
    }

    a {
        opacity: 1;
        color: $c-accent;
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }
    }
}

/* Develop */
.develop {
    margin-top: px(97);
}

.develop__title {
    margin-bottom: px(32);
}

.develop__slider {
    gap: px(161);
    align-items: stretch;
    padding-left: px(48);
    overflow: hidden;
    margin-bottom: px(20);

    @include tablet {
        padding: 0 px(32);
        gap: px(80);
    }

    @include mobile {
        padding: 0 px(16);
    }
}

.develop__year {
    align-items: center;
    gap: px(71);

    @include big-mobile {
        gap: px(12);
    }

    &:nth-child(even) {
        align-items: flex-end;

        @include tablet {
            align-items: center;
        }
    }
}

.slider__year-image {
    display: flex;
    flex-direction: column;
    gap: px(71);
    position: relative;
    padding-top: px(132);

    img {
        display: block;
        height: auto;

        @include tablet {
            max-width: 100%;
        }
    }

    @include tablet {
        padding-top: px(96);
        gap: px(40);
        flex: 0 0 55%;
    }

    @include big-mobile {
        flex: 0 0 100%;
    }
}

.develop__year:nth-child(even) .slider__year-image {
    flex-direction: column-reverse;
    padding-top: 0;
    padding-bottom: px(132);

    @include tablet {
        flex-direction: column;
    }

    @include tablet {
        padding-top: px(96);
        padding-bottom: 0;
    }
}

.slider__year {
    opacity: 0.05;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    @include tablet {
        font-size: px(128);
        line-height: 1;
    }
}

.develop__year:nth-child(even) .slider__year {
    top: auto;
    bottom: 0;

    @include tablet {
        top: 0;
        bottom: auto;
    }
}

.slider__desc {
    width: px(240);

    @include tablet {
        width: auto;
    }

    @include big-mobile {
        width: px(284);
    }
}

.timeline {
    padding: px(20) 0;
    column-gap: 10%;

    @include tablet {
        display: none;
    }

    span {

        opacity: 0.3;
        cursor: pointer;

        &:first-child {
            margin-right: 30%;
        }

        &.active {
            opacity: 1;
        }
    }
}

/* Staff */
.staff__title {
    margin-bottom: px(98);

    @include tablet {
        margin-bottom: px(10);
    }
}

.staff__man {
    align-items: flex-start;
    padding: px(32) px(48);
    border-bottom: 1px solid $c-light-gray;
    background-color: $c-white;
    cursor: pointer;

    @include tablet {
        padding: px(32) px(32);
    }

    @include mobile {
        padding: px(32) px(16);
    }

    transition: background-color $var-base-animation-time linear;

    &:last-child {
        border-bottom: none;
    }

    svg {
        float: right;

    }

    path {
        transition: stroke $var-base-animation-time linear,
        fill $var-base-animation-time linear;
    }
}

.staff__svg {
    flex: 0 0 5%;
}

.staff__content {
    flex: 0 0 95%;

    @include tablet1024 {
        align-items: flex-start;
        flex-direction: column;
        gap: px(16);
    }

}

.staff__name {
    flex: 0 0 55%;
    transition: color $var-base-animation-time linear;

    @include tablet1024 {
        flex: 0 0 100%;
    }
}

.staff__prof {
    flex: 0 0 45%;
    opacity: 0.9;
    transition: color $var-base-animation-time linear;

    @include tablet1024 {
        flex: 0 0 100%;
    }
}

.staff__man:hover {
    background-color: $c-background;

    path {
        stroke: $c-white;
        fill: $c-white;
    }

    .staff__name {
        color: $c-white;
    }

    .staff__prof {
        color: $c-white;
    }
}

.staff__popup {
    padding-top: px(72);
}

.staff__popup-content {
    width: 90%;
    background: $c-white;
    color: $c-popup;

    padding-right: px(80);
    padding-top: px(100);
    padding-bottom: px(24);


    @include tablet1024 {
        padding-right: px(47);
        padding-top: px(32);
        padding-bottom: px(32);
    }

    >img {
        flex: 0 0 55%;
        height: auto;
        display: block;
        max-width: 100%;

        @include tablet {
            width: 50%;
        }

        @include big-mobile {
            width: 100%;
            flex: 0 0 100%;
            margin: 0 auto;
        }
    }

    @include big-mobile {
        gap: px(28);
        flex-direction: column;
        padding: px(40) px(28);
    }
}

.staff__popup-text {
    flex: 0 0 43%;

    @include big-mobile {
        flex: 0 0 100%;
    }
}

.staff__popup-title {
    margin-bottom: px(4);
}

.staff__popup-prof {
    opacity: 0.5;
    margin-bottom: px(50);

    @include big-mobile {
        margin-bottom: px(24);
    }
}

/* Slogan */
.slogan {
    margin-top: px(140);
}

.slogan__inner {
    background: $c-background;
    border-radius: px(12);
    min-height: px(600);
    text-align: center;

    @include mobile {
        min-height: px(508);
    }
}

.slogan__title {
    max-width: 70%;
    color: $c-white;
    margin-bottom: px(40);
}

.slogan__btns {
    gap: px(12);

    justify-content: center;
}

/* Mass Media */
.mm {
    margin-top: px(140);
    margin-bottom: px(100);
    overflow: hidden;
}

.mm__title {
    margin-bottom: px(53);

    @include mobile {
        margin-bottom: px(48);
    }
}

.mm__slider {
    padding: px(48);
    border-top: 1px solid $c-light-gray;
    column-gap: px(52);
    align-items: stretch;
    min-width: 100%;

    @include tablet {
        padding-left: px(32);
        padding-bottom: 0;
    }

    @include mobile {
        padding-top: 0;
        padding-left: px(16);
        border-top: 0;
    }
}

.mm__news {
    flex: 0 0 30%;

}

.mm__date {
    margin-bottom: px(12);
}

.mm__headline {
    margin-bottom: px(40);
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.mm__img {
    padding-top: px(13);
    position: relative;
    display: block;

    &::before {
        content: 'опубликовано';

        display: block;
        position: absolute;
        opacity: 0.5;
        left: 0;
        top: px(-10);
        font-size: px(12);
        line-height: px(13.2);
        letter-spacing: 0.02em;
    }
}

/* Footer */
.footer {
    padding-top: px(64);
    padding-bottom: px(56);
    background-color: #F5F5F5;
}

@include tablet1024 {
    .footer__inner {
        display: flex;
        justify-content: space-between;
    }
}

@include tablet {
    .footer__inner {
        display: block;
    }
}

.footer__logo {
    display: block;
    margin-bottom: px(70);
}

.footer__content {
    gap: px(20);
    width: 100%;
    position: relative;

    @include tablet {
        padding-bottom: px(22);
    }
}

.copyright {
    position: absolute;
    bottom: 0;
    left: 0;
}

.footer__contacts {
    gap: px(10);
    flex: 0 0 35%;
}

.footer__social-without {
    flex: 0 0 60%;

    @include tablet1024 {
        flex: 0 0 100%;
        flex-wrap: wrap;
        gap: px(36);
    }

    @include tablet {
        gap: px(24);
    }
}

.footer__join {
    opacity: 0.5;
    margin-bottom: px(12);
}

.footer__copyright {
    >div {
        gap: px(16);
        margin-bottom: px(20);
    }

    @include tablet1024 {
        flex: 0 0 35%;
    }
}

.footer__navigation {
    flex: 0 0 65%;

    nav {
        gap: px(20);
        margin-bottom: px(65);

        @include tablet1024 {
            position: relative;
        }
    }
}

.footer__social {
    flex: 0 0 35%;

    @include tablet1024 {
        position: absolute;
        bottom: 12%;
        left: calc(48% + px(36));
    }

    > div {
        gap: px(8);
    }
}

.footer__nav {
    display: flex;
    flex-direction: column;
    gap: px(12);

    &.to {
        gap: px(6);
        flex: 0 0 50%;

        @include tablet1024 {
            flex: 0 0 45%;
        }
    }

    &.where {
        flex: 0 0 25%;

        @include tablet1024 {
            flex: 0 0 45%;
        }
    }

    &.how {
        flex: 0 0 25%;

        @include tablet1024 {
            flex: 0 0 45%;
        }
    }
}

.footer__text {
    @include tablet {
        flex-direction: column;
    }
}

.footer__desc {
    flex: 0 0 60%;

    @include tablet {
        flex: 0 0 100%;
    }
}

.footer__descriptors {
    gap: px(12);
    margin-bottom: px(40);
    opacity: 0.5;
}

.footer__btns {
    gap: px(10);

    a {
        padding: px(10) px(17);

        @include tablet {
            width: 100%;
        }
    }
}

.footer__logo-copy {
    @include tablet {
        margin-bottom: px(20);
    }
}

