/* calc */
input[type=number], .input_calc, select {
    min-width: 100%;
    min-height: 60px;
    border: none;
    border-radius: 8px;
    padding: 18px 24px 18px 24px;
    font-weight: 400;
    font-size: 17px;
    line-height: 120%;
    -moz-appearance:textfield;
    background-color: #F2F4F8;
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
        background-image: url(https://uploads-ssl.webflow.com/6392bea2dde287404cbfb834/639904120fdb28960a1f1755_select_arrow.svg);
        background-position: 100% 50%;
        background-size: auto 100%;
        background-repeat: no-repeat;
}
input[type=number]:focus {
    border: none;
}
input[type=text]:focus {
    border: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input, select:focus {
    outline:none;
    border: none;
}
input[type=range].slider {
    /*min-width: 300px;*/
    min-width: 100%;
    /*padding: 0 24px 0 24px;*/
    height: 1px;
    -webkit-appearance: none;
}
/*progress support*/
input[type=range].slider.slider-progress {
    --range: calc(var(--max) - var(--min));
    --ratio: calc((var(--value) - var(--min)) / var(--range));
    --sx: calc(0.5 * 10px + var(--ratio) * (100% - 10px));
}
input[type=range].slider:focus {
    outline: none;
}
/*webkit*/
input[type=range].slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background: #173B57;
    border: none;
    box-shadow: none;
    margin-top: calc(1px * 0.5 - 10px * 0.5);
    cursor: -webkit-grab;
    cursor: grab;
}
input[type=range].slider::-webkit-slider-runnable-track {
    height: 1px;
    border: none;
    border-radius: 1px;
    background: #FFFEFE00;
    box-shadow: none;
    cursor: pointer;
}
input[type=range].slider::-webkit-slider-thumb:hover {
    background: #173B57;
    cursor: -webkit-grab;
    cursor: grab;
}
input[type=range].slider::-webkit-slider-thumb:active {
    background: #173B57;
    cursor: -webkit-grab;
    cursor: grab;
}
input[type=range].slider.slider-progress::-webkit-slider-runnable-track {
    background: linear-gradient(#173B57,#173B57) 0/var(--sx) 100% no-repeat, #FFFEFE00;
}
/*mozilla*/
input[type=range].slider::-moz-range-thumb {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background: #173B57;
    border: none;
    box-shadow: none;
    cursor: grab;
}
input[type=range].slider::-moz-range-track {
    height: 1px;
    border: none;
    border-radius: 1px;
    background: #FFFEFE00;
    box-shadow: none;
    cursor: pointer;
}
input[type=range].slider::-moz-range-thumb:hover {
    background: #173B57;
    cursor: grab;
}
input[type=range].slider::-moz-range-thumb:active {
    background: #173B57;
    cursor: grab;
}
input[type=range].slider.slider-progress::-moz-range-track {
    background: linear-gradient(#173B57,#173B57) 0/var(--sx) 100% no-repeat, #FFFEFE00;
}
/*ms*/
input[type=range].slider::-ms-fill-upper {
    background: transparent;
    border-color: transparent;
    cursor: pointer;
}
input[type=range].slider::-ms-fill-lower {
    background: transparent;
    border-color: transparent;
    cursor: pointer;
}
input[type=range].slider::-ms-thumb {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background: #173B57;
    border: none;
    box-shadow: none;
    margin-top: 0;
    box-sizing: border-box;
    cursor: grab;
}
input[type=range].slider::-ms-track {
    height: 1px;
    border-radius: 1px;
    background: #FFFEFE00;
    border: none;
    box-shadow: none;
    box-sizing: border-box;
    cursor: pointer;
}
input[type=range].slider::-ms-thumb:hover {
    background: #173B57;
    cursor: grab;
}
input[type=range].slider::-ms-thumb:active {
    background: #173B57;
    cursor: grab;
}
input[type=range].slider.slider-progress::-ms-fill-lower {
    height: 1px;
    border-radius: 1px 0 0 1px;
    background: #173B57;
    border: none;
    border-right-width: 0;
    cursor: pointer;
}
#myChart {
    /*width: 784px;*/
    width: 100%;
    /*height: 550px;*/
    /*margin: 5px 40px 5px 40px;*/
}
.info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    align-content: center;
    flex-wrap: nowrap;
    border: 1px solid #04CCD9;
    margin-top: 32px;
}
tr {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: repeat(7, auto);
    grid-template-rows: auto;
    gap: 10px 10px;
    padding: 1px;
}
tr > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}
tr > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
}
tr > *:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
}
tr > *:nth-child(4) {
    -ms-grid-row: 1;
    -ms-grid-column: 7;
}
tr > *:nth-child(5) {
    -ms-grid-row: 1;
    -ms-grid-column: 9;
}
tr > *:nth-child(6) {
    -ms-grid-row: 1;
    -ms-grid-column: 11;
}
tr > *:nth-child(7) {
    -ms-grid-row: 1;
    -ms-grid-column: 13;
}
td {
    padding: 1px;
    min-width: 150px;
    border: 1px solid black;
}
.error {
    /*border: 1px solid red !important;*/
    color: red !important;
    background-color: rgba(255, 0, 0, 0.18) !important;
}



.main-w {
    display: flex;
    margin-top: 64px;

    @include tablet1024 {
        margin-top: 44px;
        display: block;
    }

    @include big-mobile {
        margin-top: 28px;
    }


    .form-w {
        width: 337px;
        flex: none;
        margin-right: 64px;

        @include tablet1024 {
            width: 100%;
            margin-right: 0;
            padding-bottom: 48px;
        }
    }

    .input-w{
        margin-bottom: 28px;
        position: relative;
    }

    .range_input_label {
        margin-bottom: 0;
        position: absolute;
        bottom: -2px;
        left: 24px;
        right: 24px;
    }
}

.total-result_sum {
    margin-top: 10px;
    font-size: 42px;
    line-height: 90%;
}
.total-result {
    margin-top: 6px;
    font-size: 30px;
    line-height: 100%;
}

.total-other {
    display: flex;
}
.t_row{
    @include tablet1024 {
        flex-wrap: wrap;
        margin-right: -16px;
        display: flex;

        .t_col{
            width: 50%;
            padding-bottom: 44px;
            padding-right: 16px;

            @include tablet {
                width: 100%;
                padding-bottom: 26px;
            }
        }
    }
}
.underline {
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 100% 1px;
    transition: background-size .3s;
    text-decoration: none;

    &:hover {
        background-size: 0% 1px;
        background-position: 100% 100%;
    }
}

.btn-calc {
    background-color: transparent;
    border: 1px #000;
    padding: 0;
    font-size: 17px;
    font-weight: 500;
    line-height: 120%;
    cursor: pointer;
}
.ya_target-3 {
    margin-top: 12px;
}
.total-balance {
    border: 1px solid #e8ecf0;
    border-radius: 12px;
    margin-bottom: 20px;
    padding: 24px 28px;
}

.total-payment {
    width: 100%;
    border: 1px solid #e8ecf0;
    border-radius: 12px;
    margin-right: 20px;
    padding: 24px 28px;
}

.total-percent {
    width: 100%;
    border: 1px solid #e8ecf0;
    border-radius: 12px;
    padding: 24px 28px;
}
.number_input_label {
    color: rgba(16, 39, 61, .5);
    letter-spacing: .02em;
    margin-bottom: 12px;
    font-size: 12px;
    font-weight: 400;
    line-height: 110%;
}
.chart-w {
    width: 100%;
    height: 500px;
    margin-top: 32px;
    position: relative;
    overflow: hidden;
}

/* Slider */

.case-card {
    opacity: 0.5;
    -webkit-transform: scale(0.96);
    -ms-transform: scale(0.96);
    transform: scale(0.96);
}
.slick-current .case-card {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.slider-cases .slick-track {
  display: flex;
}
.slider-cases .slick-slide, 
.slider-cases .slick-slide >div,
.slider-cases .slick-slide >div>div {
  display: flex !important;
  height: auto !important;
  width: auto;
}

.slider-wrapper {
    display: grid;
    grid-template-columns: 33.3% 67.7%;

    @include tablet1024 {
        grid-template-columns: 1fr;
        gap: px(50);
    }

    @include tablet {
        gap: px(32);
    }
}
.slick-list{
    max-width: 100%;
    overflow: hidden;
}
.slick-track {
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.slider-title-and-arrows-w {
    margin-right: px(4);
    padding-right: px(40);

    @include tablet1024 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .investors-slider-title {
            max-width: px(284);
        }
    }

    @include tablet {
        .investors-slider-title {
            max-width: px(220);
        }
    }
}


.case-card {
    width: px(482);
    min-height: 100%;
    border: 1px solid $c-light-gray;
    border-radius: px(24);
    flex-direction: column;
    padding: px(24) px(38) px(40) px(28);
    transition: all .3s;
    display: flex;
    margin-right: px(24);
    justify-content: space-between;

    @include tablet1024 {
        width: auto;
        padding-bottom: px(28);
        padding-left: px(24);
        padding-right: px(32);
    }

    @include tablet {
        padding: px(20) px(16);
    }
}
.slide-author-w {
    gap: px(2);
    margin-top: 40px;
}


.slider-gradient {
    z-index: 2;
    width: 100px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, .04), #fff 90%);
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: auto;
    right: -2px;
}
/* Strategy */
.advantages{
    padding-top: px(80);

    @include tablet {
        padding-top: px(64);
    }
}
.advantages__content {
    display: flex;
    flex-direction: column;
    gap: px(12);
    width: px(438);
    margin-top: px(64);

    @include tablet1024 {
        flex-direction: row;
        width: auto;
        margin: px(54) px(-32) px(16) px(-32);
        padding: 0 px(32) px(16) px(32);
        overflow: auto;
    }

    @include tablet {
        margin: px(32) px(-16) px(16) px(-16);
        padding: 0 px(16) px(16) px(16);
    }

    @include mobile {
        flex-direction: column;
        gap: px(32);
    }
}
.advantages__advantage {
    border-radius: px(12);
    border: 1px solid $c-light-gray;
    padding: px(24) px(28);
    cursor: pointer;
    transition: background-color $var-base-animation-time $var-transition-timing;

    p {
        opacity: 0.5;
    }

    img {
        opacity: 0;
        transition: opacity $var-base-animation-time $var-transition-timing;
    }
    &.active {
        color: $c-white;
        background-color: $c-background;

        img {
            opacity: 1;
        }
    }

    @include tablet1024 {
        padding: 0;
        border: 0;
        border-radius: 0;
        min-width: 41%;
        img {
            opacity: 1;
        }
        &.active {
            color: currentColor;
            background-color: transparent;
    
            img {
                opacity: 1;
            }
        }
    }

    @include tablet {
        min-width: 45%;
    }

    @include big-mobile {
        min-width: 55%;
    }
}


.advantages__img {
    flex: 0 0 48%;

    img {
        display: none;
        max-width: 100%;
        height: 100%;
        border-radius: px(12);
    
        &.active {
            display: block;
        }
    }
}

.advantages__info-w {
    @include tablet1024 {
        padding-right: px(24);
    }
}
.advantages__img-w {
    margin-left: px(502);
    transition: all .3s;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;

    img {
        width: 100%;
        height: 100%;
        max-width: none;
        object-fit: cover;
        border-radius: px(12);
        display: block;
    }

    @include tablet1024 {
        position: static;
        margin-left: 0;
        padding-bottom: px(24);
        img {

            aspect-ratio: 4 / 3;
            border-radius: px(9);
        }
    }
}

.intro-bottom-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;


    @include mobile {
        flex-direction: column;
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 0%;
    }
}
.strategy__title {
    max-width: px(780);
    margin-bottom: px(64);

    @include tablet {
        margin-bottom: px(30);
    }

    @include mobile {

    }
}

.strategy__block {
    background-color: $c-whity;
    border-radius: px(24);
    margin-bottom: 20px;
    padding: px(50) px(28);
    align-items: center;

    &.strategy__block-headlines {
        background-color: transparent;
        padding-bottom: 0;
        padding-top: 0;

        .strategy__row {
            opacity: 0.5;
        }

        @include tablet {
            display: none;
        }
    }

    @include tablet {
        align-items: flex-start;
        padding: px(32) px(24);
    }
}


.table-title-block {
    opacity: 0.5;
    font-size: px(12);
}

.strategy__row {
    flex: 1;

    margin-top: px(8);

    @include tablet {
        padding-bottom: px(24);

        &.h4 {
            margin-bottom: px(8);
            margin-top: 0;
        }
    }

    &.body-l {
        @include tablet {
            font-size: px(20);
            margin-top: px(6);
        }
    }

    &._2 {
        flex: none;
        width: 19%;

        @include tablet1024 {
            width: 25%;
        }

        @include tablet {
            width: auto;
        }
    }
    
    &._3 {
        flex: none;
        width: 16%;
        
        @include tablet1024 {
            width: 13%;
        }
        
        @include tablet {
            width: auto;
        }
    }
    
    &._4 {
        flex: none;
        width: 16%;

        @include tablet1024 {
            width: 15%;
        }

        @include tablet {
            width: auto;
        }
    }
    
    &._5 {
        flex: none;
        width: 21.5%;
        
        @include tablet1024 {
            width: 12%;
        }

        @include tablet {
            width: auto;
        }
    }

    @include tablet1024 {
        &.h4 {
            font-size: px(24);
        }
    }
}

.strategy__footer {
    padding-top: px(32);
    display: flex;
    align-items: center;

    .button-l {
        background-color: $c-background;
        color: $c-white;
        border-color: $c-background;

        &:hover {
            background-color: transparent;
            color: $c-background;
        }

        @include tablet1024 {
            padding: px(14) px(24) px(17);
            font-size: px(14);
        }

        @include tablet {
            display: flex;
            justify-content: center;
            width: 100%;
        }
    }
    
    @include tablet {
        align-items: flex-start;
        flex-direction: column-reverse;
        padding-top: 0;
    }
}

.strategy__footer-content {
    @include tablet {
        margin-top: px(24);
    }
}

/* App */
.app__inner {
    background-color: $c-whity;
    border-radius: px(24);
    padding: px(32);
    padding-bottom: 0;
    gap: px(65);
    display: flex;

    @include tablet1024 {
        gap: px(40);
    }

    @include tablet {
        flex-direction: column-reverse;
        padding: px(24);
        padding-bottom: 0;
    }
}

.app__img {
    display: flex;
    justify-content: center;
    align-self: flex-end;
    flex: 0 0 44%;

    @include tablet {
        flex: auto;
        align-self: center;
        justify-content: flex-start;
        width: auto;
    }

    img {
        width: px(365);
        max-width: 100%;
        height: auto;
        display: block;

        @include tablet {
            width: px(226);
        }
    }
}

.app__content {
    align-self: center;
    max-width: px(580);
    flex: 0 0 52%;

    @include tablet {
        align-self: flex-start;
        max-width: 100%;
    }
}

.app__title {
    margin-bottom: px(40);

    @include tablet1024 {
        &.h3 {
            font-size: px(32);
            line-height: 1;
        }
    }
}

.app__adv.list-style-disc {
    margin-bottom: px(24);
    max-width: px(340);

    li {
        margin-bottom: px(15);

        &::before {
            background-color: $c-deep-dive;
        }
    }
}

.app__btns {
    gap: px(12);
    width: 70%;

    @include tablet1024 {
        width: 100%;
    }

    @include tablet {
        width: 100%;
        margin: 0 auto;
    }

    .button-l {
        padding: px(10) px(18);
        width: px(150);

        @include tablet {
            margin: 0 auto;
        }
    }
}


/* Number-one */
.number-one__title {
    max-width: px(900);
    margin-bottom: px(56);

    @include tablet {
        margin-bottom: 0;
        font-size: 30px;
        line-height: 100%;
    }
}

.number-one__indices {
    display: flex;
    margin-bottom: px(48);

    @include tablet1024 {
        margin-bottom: px(28);
    }

    @include tablet {
        flex-direction: column;
        align-items: center;
        margin-bottom: 0;
    }
}

.number-one__index {
    width: 33.3%;
    padding: px(26) px(16);
    text-align: center;

    &.center {
        border-left: 1px solid $c-light-gray;
        border-right: 1px solid $c-light-gray;

        @include tablet {
            border: 0;
            border-top: 1px solid $c-light-gray;
            border-bottom: 1px solid $c-light-gray;
        }
    }

    @include tablet {
        padding: px(40) 0;
        width: max-content;
    }

    >div {
        width: px(220);
    }
}

.number-one__number {
    margin-bottom: px(16);
    
    @include tablet {
        font-size: 46px;
        line-height: 90%;
    }
    span {
        font-weight: 500;
    }
}

