@charset "UTF-8";
/* ----------------------- reset styles ------------------------------ */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html {
  height: 100%;
}

body {
  line-height: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: "";
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: currentcolor;
}
a:active, a:hover {
  outline: 0;
}

input,
textarea,
select,
button {
  outline: none;
  border: none;
  font-size: 100%;
  margin: 0;
}

button,
input {
  line-height: normal;
}

:focus {
  outline: 0;
}

td,
th {
  padding: 0;
  text-align: left;
}

audio,
canvas,
iframe,
video,
img,
svg {
  vertical-align: middle;
}

/* ----------- Fonts Variable ----------- */
/* - от этого разрешения и ниже - */
/* ----------------------- main ------------------------------ */
.mt-2 {
  margin-top: 2px;
}

.mt-4 {
  margin-top: 4px;
}

.mt-6 {
  margin-top: 6px;
}

.mt-8 {
  margin-top: 8px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-12 {
  margin-top: 12px;
}

.mt-14 {
  margin-top: 14px;
}

.mt-16 {
  margin-top: 16px;
}

.mt-18 {
  margin-top: 18px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-22 {
  margin-top: 22px;
}

.mt-24 {
  margin-top: 24px;
}

.mt-26 {
  margin-top: 26px;
}

.mt-28 {
  margin-top: 28px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-32 {
  margin-top: 32px;
}

.mt-34 {
  margin-top: 34px;
}

.mt-36 {
  margin-top: 36px;
}

.mt-38 {
  margin-top: 38px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-42 {
  margin-top: 42px;
}

.mt-44 {
  margin-top: 44px;
}

.mt-46 {
  margin-top: 46px;
}

.mt-48 {
  margin-top: 48px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-52 {
  margin-top: 52px;
}

.mt-54 {
  margin-top: 54px;
}

.mt-56 {
  margin-top: 56px;
}

.mt-58 {
  margin-top: 58px;
}

.mt-60 {
  margin-top: 60px;
}

.mt-62 {
  margin-top: 62px;
}

.mt-64 {
  margin-top: 64px;
}

.mt-68 {
  margin-top: 68px;
}

.mt-70 {
  margin-top: 70px;
}

.mt-72 {
  margin-top: 72px;
}

.mt-74 {
  margin-top: 74px;
}

.mt-76 {
  margin-top: 76px;
}

.mt-78 {
  margin-top: 78px;
}

.mt-80 {
  margin-top: 80px;
}

.mt-82 {
  margin-top: 82px;
}

.mt-84 {
  margin-top: 84px;
}

.mt-86 {
  margin-top: 86px;
}

.mt-88 {
  margin-top: 88px;
}

.mt-90 {
  margin-top: 90px;
}

.mt-92 {
  margin-top: 92px;
}

.mt-94 {
  margin-top: 94px;
}

.mt-96 {
  margin-top: 96px;
}

.mt-98 {
  margin-top: 98px;
}

.mt-100 {
  margin-top: 100px;
}

.mt-110 {
  margin-top: 110px;
}

.mt-120 {
  margin-top: 120px;
}

.mt-130 {
  margin-top: 130px;
}

.mt-140 {
  margin-top: 140px;
}

.mt-150 {
  margin-top: 150px;
}

.mt-160 {
  margin-top: 160px;
}

.mt-170 {
  margin-top: 170px;
}

.mt-180 {
  margin-top: 180px;
}

.mt-190 {
  margin-top: 190px;
}

.mt-200 {
  margin-top: 200px;
}

.mt-250 {
  margin-top: 250px;
}

.mt-300 {
  margin-top: 300px;
}

/* ----------------------- mobile ------------------------------ */
@media (max-width: 479px) {
  .mt-2 {
    margin-top: 2px;
  }
  .mt-4 {
    margin-top: 4px;
  }
  .mt-6 {
    margin-top: 6px;
  }
  .mt-8 {
    margin-top: 8px;
  }
  .mt-10 {
    margin-top: 10px;
  }
  .mt-12 {
    margin-top: 12px;
  }
  .mt-14 {
    margin-top: 14px;
  }
  .mt-16 {
    margin-top: 16px;
  }
  .mt-18 {
    margin-top: 18px;
  }
  .mt-20 {
    margin-top: 20px;
  }
  .mt-22 {
    margin-top: 22px;
  }
  .mt-24 {
    margin-top: 24px;
  }
  .mt-26 {
    margin-top: 26px;
  }
  .mt-28 {
    margin-top: 28px;
  }
  .mt-30 {
    margin-top: 30px;
  }
  .mt-32 {
    margin-top: 32px;
  }
  .mt-34 {
    margin-top: 34px;
  }
  .mt-36 {
    margin-top: 36px;
  }
  .mt-38 {
    margin-top: 38px;
  }
  .mt-40 {
    margin-top: 40px;
  }
  .mt-42 {
    margin-top: 42px;
  }
  .mt-44 {
    margin-top: 44px;
  }
  .mt-46 {
    margin-top: 46px;
  }
  .mt-48 {
    margin-top: 48px;
  }
  .mt-50 {
    margin-top: 50px;
  }
  .mt-52 {
    margin-top: 52px;
  }
  .mt-54 {
    margin-top: 54px;
  }
  .mt-56 {
    margin-top: 56px;
  }
  .mt-58 {
    margin-top: 58px;
  }
  .mt-60 {
    margin-top: 60px;
  }
  .mt-62 {
    margin-top: 62px;
  }
  .mt-64 {
    margin-top: 64px;
  }
  .mt-68 {
    margin-top: 68px;
  }
  .mt-70 {
    margin-top: 70px;
  }
  .mt-72 {
    margin-top: 72px;
  }
  .mt-74 {
    margin-top: 74px;
  }
  .mt-76 {
    margin-top: 76px;
  }
  .mt-78 {
    margin-top: 78px;
  }
  .mt-80 {
    margin-top: 80px;
  }
  .mt-82 {
    margin-top: 82px;
  }
  .mt-84 {
    margin-top: 84px;
  }
  .mt-86 {
    margin-top: 86px;
  }
  .mt-88 {
    margin-top: 88px;
  }
  .mt-90 {
    margin-top: 90px;
  }
  .mt-92 {
    margin-top: 92px;
  }
  .mt-94 {
    margin-top: 94px;
  }
  .mt-96 {
    margin-top: 96px;
  }
  .mt-98 {
    margin-top: 98px;
  }
  .mt-100 {
    margin-top: 100px;
  }
  .mt-110 {
    margin-top: 110px;
  }
  .mt-120 {
    margin-top: 120px;
  }
  .mt-130 {
    margin-top: 130px;
  }
  .mt-140 {
    margin-top: 140px;
  }
  .mt-150 {
    margin-top: 150px;
  }
  .mt-160 {
    margin-top: 160px;
  }
  .mt-170 {
    margin-top: 170px;
  }
  .mt-180 {
    margin-top: 180px;
  }
  .mt-190 {
    margin-top: 190px;
  }
  .mt-200 {
    margin-top: 200px;
  }
  .mt-250 {
    margin-top: 250px;
  }
  .mt-300 {
    margin-top: 300px;
  }
}
/* - от этого разрешения и ниже - */
/* ----------------------- main ------------------------------ */
.relative {
  position: relative;
}

.sticky-0 {
  position: sticky;
  top: 0;
}

.dont-shrink {
  flex: 0 0 auto;
}

.flex-wrap {
  flex-wrap: wrap;
}

.border-radius-50prc {
  border-radius: 50%;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.wm-flex-row {
  display: flex;
  flex-direction: row;
}

.justify-space-between {
  justify-content: space-between;
}

.gap-4px {
  gap: 4px;
}

.gap-8px {
  gap: 8px;
}

.gap-16px {
  gap: 16px;
}

.aling-self-center {
  align-self: center;
}

.aling-self-start {
  align-self: flex-start;
}

.align-items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-self-stretch {
  justify-self: stretch;
}

.height-100vh {
  min-height: 100vh;
}

.height-100prc {
  min-height: 100%;
}

.wm-grow-if-possible {
  flex: 1 1 0;
}

.wm-width-100prc {
  width: 100%;
}

.mobile-show {
  display: none;
}

.disabled {
  color: #000 !important;
}

.container {
  padding: 0 48px;
}

@media (max-width: 767px) {
  .horizmobile-hide {
    display: none;
  }
}
@media (max-width: 479px) {
  .mobile-show {
    display: block;
  }
  .mobile-hide {
    display: none;
  }
}
/* ----------------------- main ------------------------------ */
.text-align-center {
  text-align: center;
}

.text-color-gray-00 {
  color: #000;
}

.text-color-gray-20 {
  color: #2D2F31;
}

.text-color-gray-30 {
  color: #47494D;
}

.text-color-gray-40 {
  color: #5F6266;
}

.text-color-gray-60 {
  color: #8E9299;
}

.text-color-gray-80 {
  color: #C3C7CC;
}

.text-color-gray-00 {
  color: #000;
}

.text-color-gray-100 {
  color: #FFF;
}

.text-color-primary-accent {
  color: #5733FF;
}

.text-underline {
  text-decoration: underline;
  transition: color 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
}
.text-underline:hover {
  color: #5733FF;
}

.white-space-no-wrap {
  white-space: nowrap;
}

.danger-text {
  color: #FE0B0B;
}

/* ------------ Heading ------------ */
.h1 {
  font-family: "Base-SemiBold", sans-serif;
  font-style: normal;
  font-size: 32px;
  font-weight: 600;
  line-height: 106.25%;
}

.h2 {
  font-family: "Base-SemiBold", sans-serif;
  font-style: normal;
  font-size: 26px;
  font-weight: 600;
  line-height: 115.385%;
}

.h3 {
  font-family: "Base-SemiBold", sans-serif;
  font-style: normal;
  font-size: 24px;
  font-weight: 600;
  line-height: 116.667%;
  letter-spacing: -0.02em;
}

.h4 {
  font-family: "Base-SemiBold", sans-serif;
  font-style: normal;
  font-size: 20px;
  font-weight: 600;
  line-height: 120%;
}

.h5 {
  font-family: "Base-SemiBold", sans-serif;
  font-style: normal;
  font-size: 18px;
  font-weight: 600;
  line-height: 122.222%;
}

.h6 {
  font-family: "Base-SemiBold", sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: 600;
  line-height: 125%;
}

.desc-h2-mob-h5 {
  font-family: "Base-SemiBold", sans-serif;
  font-style: normal;
  font-size: 26px;
  font-weight: 600;
  line-height: 115.385%;
}

.desc-h3-mob-h5 {
  font-family: "Base-SemiBold", sans-serif;
  font-style: normal;
  font-size: 24px;
  font-weight: 600;
  line-height: 116.667%;
  letter-spacing: -0.02em;
}

.desc-h1-mob-h4 {
  font-family: "Base-SemiBold", sans-serif;
  font-style: normal;
  font-size: 32px;
  font-weight: 600;
  line-height: 106.25%;
}

/* ------------ Paragraph ------------ */
.body-card {
  font-family: "Inter", sans-serif;
  font-weight: 500;
}

.caption {
  font-family: "Base-Bold", sans-serif;
  font-style: normal;
  font-size: 12px;
  font-weight: 700;
  line-height: 133.333%;
  text-transform: uppercase;
  letter-spacing: 0.12px;
}

.body-l {
  font-family: "Base-Book", sans-serif;
  font-style: normal;
  font-size: 18px;
  font-weight: 450;
  line-height: 133.333%;
}

.body-m {
  font-family: "Base-Book", sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: 450;
  line-height: 137.5%;
}

.body-s {
  font-family: "Base-Book", sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: 450;
  line-height: 142.857%;
}

.desc-bodyl-mob-bodym {
  font-family: "Base-Book", sans-serif;
  font-style: normal;
  font-size: 18px;
  font-weight: 450;
  line-height: 133.333%;
}

/* ----------------------- tablet styles ------------------------------ */
@media (max-width: 991px) {
  /* ------------ Heading ------------ */
  .h1 {
    font-size: 32px;
    line-height: 34px;
  }
  .h2 {
    font-size: 26px;
    line-height: 30px;
  }
  .h3 {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.48px;
  }
  .h4 {
    font-size: 20px;
    line-height: 24px;
  }
  .h5 {
    font-size: 16px;
    line-height: 22px;
  }
  .h6 {
    font-size: 16px;
    line-height: 20px;
  }
  /* ------------ Paragraph ------------ */
  .caption {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.12px;
  }
  .body-l {
    font-size: 18px;
    line-height: 24px;
  }
  .body-m {
    font-size: 16px;
    line-height: 22px;
  }
  .body-s {
    font-size: 14px;
    line-height: 20px;
  }
}
@media (max-width: 767px) {
  /* ------------ Heading ------------ */
  /* ------------ Paragraph ------------ */
}
@media (max-width: 479px) {
  .desc-h2-mob-h5 {
    font-size: 18px;
    line-height: 22px;
  }
  .desc-bodyl-mob-bodym {
    font-size: 16px;
    line-height: 22px;
  }
  .desc-h3-mob-h5 {
    font-size: 18px;
    line-height: 22px;
  }
  .desc-h1-mob-h4 {
    font-size: 20px;
    line-height: 24px;
  }
}
body {
  background: rgb(23, 59, 87);
}

header.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 76px;
  padding: 28px 0;
  font-size: 15px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 1%;
  color: #fff;
}

.header__inner {
  align-items: center;
}

.header__navigation ul {
  -moz-column-gap: 40px;
       column-gap: 40px;
}

.login {
  text-transform: lowercase;
  display: block;
}
.login span {
  margin-right: 6px;
}