/* ------------ NeueMontreal ------------ */

@font-face {
  font-family: SuisseIntl-Regular;
  font-display: swap;
  src: url('@/assets/fonts/SuisseIntl-Regular.woff2') format('woff2');
}

@font-face {
  font-family: SuisseIntl-Medium;
  font-display: swap;
  src: url('@/assets/fonts/SuisseIntl-Medium.woff2') format('woff2');
}
